<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">Greencus</ion-title>
    <ion-buttons slots="start">
      <ion-back-button defaultHref="home" color="secondary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  
  <!-- Logo Aplikasi -->
    <img src="assets/icon/heartiz.jpeg" width="150" height="90">
    <br>

  <!-- Username -->
    <ion-item>
    <ion-input placeholder="Username" type="text"></ion-input>
    </ion-item>
    
  <!-- Password -->
    <ion-item>
    <ion-input  placeholder="Password" type="password"></ion-input>
    </ion-item>
    <br>

  <!-- Tombol Login -->
    <ion-button expand="block" color="secondary">Login</ion-button>


  <!-- Tombol Forgot Password -->
    <ion-button expand="block" color="secondary">Forgot Password</ion-button>
    <br>

  <!-- Tombol Sign Up -->
    <ion-label>Don't have account?</ion-label>
    <br>
    <ion-button expand="round" color="secondary" href='./signup'>Sign Up</ion-button>

</ion-content>
