<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">Sign Up</ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-buttons slots="start">
      <ion-back-button defaultHref="login" color="secondary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <a>Create Your Own Account</a>
  <br>
  <br>

  <!-- Input Name -->
  <ion-item>
    <ion-input placeholder="Name" type="text"></ion-input>
  </ion-item>

  <!-- Input Username -->
  <ion-item>
    <ion-input placeholder="Username" type="text"></ion-input> 
  </ion-item>

  <!-- Input Email -->
  <ion-item>
    <ion-input placeholder="E-mail" type="text"></ion-input>
  </ion-item>

  <!-- Input Password -->
  <ion-item>
    <ion-input placeholder="Password" type="password"></ion-input>
  </ion-item>

  <!-- Input Ulang Password -->
  <ion-item>
    <ion-input placeholder="Re-enter the password" type="password"></ion-input>  
  </ion-item>
  
  <!-- Checkbox + Term of Service -->  
  <a color="medium">
    <br>
    <ion-checkbox color="secondary" checked="false"></ion-checkbox>
    I agree the Term of Service
    <br>
  </a>

  <!-- Term of Service -->


  <!-- Tombol Signup -->
  <br>
  <ion-button expand="round" color="secondary" href='./home'>Sign Up</ion-button>


</ion-content>
