<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slots="start">
            <ion-back-button defaultHref="home" color="light"></ion-back-button>
         </ion-buttons>
      <ion-title color="light">Greencus</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search Bar -->
  <ion-searchbar placeholder="Search the thread"animated></ion-searchbar>
</ion-content>

<ion-footer>
    <ion-toolbar>
       <!-- Navigation Bar -->
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="secondary">
  
        <!-- Tombol Home -->
          <ion-tab-button href='./home'>
            <ion-icon name="Home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
  
        <!-- Tombol Search -->
          <ion-tab-button href='./search'>
            <ion-icon name="Search"></ion-icon>
            <ion-label>Search</ion-label>
          </ion-tab-button>
    
        <!-- Tombol Create Thread -->
          <ion-tab-button href='./thread'>
            <ion-icon name="Add"></ion-icon>
            <ion-label>Create</ion-label>
          </ion-tab-button>
    
        <!-- Tombol Notification -->
         <ion-tab-button href="notification">
           <ion-icon name="Notifications"></ion-icon>
           <ion-label>Notification</ion-label>
         </ion-tab-button>
    
        <!-- Tombol Private Message -->
         <ion-tab-button href="message">
           <ion-icon name="Chatboxes"></ion-icon>
           <ion-label>Message</ion-label>
         <ion-badge>99</ion-badge>
        </ion-tab-button>
  
      </ion-tab-bar>
    </ion-tabs>
    </ion-toolbar>
  </ion-footer>
